[package]
name = "gping"
version = "1.8.0"
authors = ["Tom Forbes <tom@tomforb.es>"]
edition = "2018"
repository = "https://github.com/orf/gping"
license = "MIT"
description = "Ping, but with a graph."
build = "build.rs"
readme = "../readme.md"

[dependencies]
pinger = { version = "^0.8.0", path = "../pinger" }
tui = { version = "0.19.0", features = ["crossterm"], default_features = false }
crossterm = "0.26.1"
anyhow = "1.0.69"
dns-lookup = "1.0.8"
chrono = "0.4.23"
itertools = "0.10.5"
shadow-rs = "0.20.1"
const_format = "0.2.30"
read_color = "1.0.0"
clap = { version = "4.1.8", features = ["derive"] }

[build-dependencies]
shadow-rs = "0.20.1"
