[package]
name = "gping"
version = "1.2.8-alpha.0"
authors = ["Tom Forbes <tom@tomforb.es>"]
edition = "2018"
repository = "https://github.com/orf/gping"
license = "MIT"
description = "Ping, but with a graph."
build = "build.rs"


[dependencies]
pinger = { version = "^0.3.6", path = "../pinger" }
structopt = "0.3.26"
tui = { version = "0.17.0", features = ["crossterm"], default_features = false }
crossterm = "0.22.1"
anyhow = "1.0.55"
dns-lookup = "1.0.8"
chrono = "0.4.19"
itertools = "0.10.3"
shadow-rs = "0.9"
const_format = "0.2.22"
read_color = "1.0.0"

[build-dependencies]
shadow-rs = "0.9"
