[package]
name = "gping"
version = "1.17.1"
authors = ["Tom Forbes <tom@tomforb.es>"]
edition = "2018"
repository = "https://github.com/orf/gping"
license = "MIT"
description = "Ping, but with a graph."
build = "build.rs"
readme = "../readme.md"

[dependencies]
pinger = { version = "^1.2.1", path = "../pinger" }
tui = { package = "ratatui", version = "0.27.0", features = ["crossterm"], default-features = false }
crossterm = "0.27.0"
anyhow = "1.0.81"
dns-lookup = "2.0.0"
chrono = "0.4.37"
itertools = "0.13.0"
shadow-rs = { version = "0.29.0", default-features = false }
const_format = "0.2.32"
clap = { version = "4.5.4", features = ["derive"] }

[build-dependencies]
shadow-rs = { version = "0.29.0", default-features = false }
